body {
	background: /*#0d1b21*/ #1f2733;
	color: #a4a9c3;
	font-family: sans-serif;
	/*max-width: 60em;
	margin: 0 auto;*/
	text-align: center;
}
code.block {
	display: block;
	white-space: pre-wrap;
	background: black;
	color: white;
	padding: 1em;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.1em;
}
a[href] {
	color: #19b7ff;
	text-decoration: none;
}
.attribution-links,
.columns {
	max-width: 60em;
	margin: 1em auto;
}
.columns {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}
.columns p {
	margin: 0;
	padding: 0.5em;
}

.keywords-input,
.generate-button {
	width: 90%;
	max-width: 400px;
	margin: 10px;
	padding: 10px;
}

.button-label {
	font-size: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.song {
	display: flex;
	align-items: center;
	justify-content: center;
}
.download-link {
	margin: 10px;
}

.attribution-links {
	list-style-type: none;
	/* text-align: left; */
	/* max-height: 6em; */
	overflow: auto;
}
.attribution-links li {
	padding: 0.2em;
}
.provider-icon {
	margin-right: 0.2em;
}

.status-indicator {
	position: absolute;
	top: 5px;
	left: 5px;
	transform: translateZ(2.5em);
	transform-style: preserve-3d;
	background: rgba(0, 0, 0, 0.13); /* NOTE: should inherit light text color */
	text-shadow: rgba(8, 8, 8, 0.5) 0px 1px 1px;
	border: 1px solid rgba(0, 0, 0, 0.32);
	padding: 0.3em;
}
.status-indicator.online {
	color: lime;
}
