body {
	background: /*#0d1b21*/ #1f2733;
	color: #a4a9c3;
	font-family: sans-serif;
	/*max-width: 60em;
	margin: 0 auto;*/
	text-align: center;
}
code.block {
	display: block;
	white-space: pre-wrap;
	background: black;
	color: white;
	padding: 1em;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.1em;
}
a {
	color: #19b7ff;
	text-decoration: none;
}
.attribution-links,
.columns {
	max-width: 60em;
	margin: 1em auto;
}
.columns {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}
.columns p {
	margin: 0;
	padding: 0.5em;
}
.attribution-links {
	list-style-type: none;
	/* text-align: left; */
	max-height: 6em;
	overflow: auto;
}
.attribution-links li {
	padding: 0.2em;
}
